@charset "utf-8";
/* CSS Document */

 body { 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
	background:#eee;
	color:#000;
   }
   h1 {
	color:#c00;
	font-size:26px; 
	text-align:center;  
   }
   h2 {
	font-size:22px; 
	text-align:center;  
   }
   h3 {
	font-size:18px; 
	text-align:center;  
   }
   .main, .main2 {
	border:#bbb 1px solid;
   }
   .main {
	width:900px;  
   }
   .main2 {
	width:auto;  
   }
   p {
	font-size:14px; 
	text-align:left; 
	line-height:1.5em;   
   }
   .ps {
	font-size:12px; 
	text-align:center;
	line-height:1.5em;
   }
   img {
	vertical-align:middle;   
   }
   .arrowdown {
	margin-top:10px;   
   }